* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-align: left;
  color: #0096dc;
}

header .logo-img {
  margin-right: 26px;
}

header .logo-descr span {
  max-width: 220px;
  display: block;
}

header .work-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .work-time .btn-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #55a831;
  border-radius: 10px;
  border: solid 2px #55a831;
}

header .work-time .btn-call span {
  width: 100px;
  display: block;
  line-height: 18px;
}

header .work-time .btn-call img {
  margin-right: 10px;
}

header .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .time img {
  margin-right: 21px;
}

header .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .phone span {
  display: block;
}

header .phone img {
  margin-top: 7px;
  margin-right: 15px;
}

header .phone-number a {
  font-family: OpenSans;
  font-size: 23px;
  font-weight: bold;
  text-align: right;
  color: #333333;
  margin-bottom: 14px;
}

header .phone-number span {
  font-family: OpenSans;
  font-size: 15px;
  text-align: right;
  color: #0089cc;
}

.main {
  padding-top: 100px;
  background: url(../img/main/main-bg.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.main-descr p {
  max-width: 430px;
  font-family: OpenSans;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  color: #333333;
  text-align: left;
  margin-bottom: 100px;
}

.main-descr p span {
  font-family: OpenSans;
  font-size: 55px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}

.main-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.advantages-block {
  border: solid 1px #ffffff;
  background-color: #0d8fe3;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.advantages-block img {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  height: 52px;
  margin: 0 auto;
  display: block;
}

.advantages-block p {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-top: -15px;
}

.form {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 35px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.form .title {
  display: block;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 35px;
}

.form input {
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  height: 60px;
  text-align: center;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.send {
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
          box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
  border: solid 1px #ffc600;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffed26), to(#ffb400));
  background-image: linear-gradient(to top, #ffed26, #ffb400);
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

h2 {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

.job {
  padding-top: 80px;
}

.material-block {
  text-align: center;
  margin-bottom: 39px;
}

.material-block img {
  margin-bottom: 32px;
  width: 100px;
  height: 100px;
}

.material-block p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #249ae6;
}

.material-info {
  padding: 40px 58px;
  text-align: center;
  margin-bottom: 100px;
}

.material-info .title {
  display: block;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 29px;
}

.material-info .title-cold {
  color: #0d8fe3;
}

.material-info .title-warm {
  color: #ffb903;
}

.material-cold {
  background: -webkit-gradient(linear, left bottom, left top, from(#0d8fe3), to(#ffffff));
  background: linear-gradient(to top, #0d8fe3, #ffffff);
}

.material-warm {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 185, 3, 0.99)), to(#ffffff));
  background: linear-gradient(to top, rgba(255, 185, 3, 0.99), #ffffff);
}

.material-photo {
  overflow: hidden;
}

.material-photo img {
  height: 355px;
  margin-bottom: 37px;
}

.material-descrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 36px;
}

.material-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5px;
}

.material-descr p {
  text-align: left;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}

.material-descr img {
  margin-right: 17px;
}

.material-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.material-send__info {
  text-align: left;
}

.material-send__info p {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.material-send__info small {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}

.send-btn {
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
          box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
  border: solid 1px #ffc600;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffed26), to(#ffb400));
  background-image: linear-gradient(to top, #ffed26, #ffb400);
  font-family: OpenSans;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  padding: 24px 37px;
}

.order {
  padding-top: 80px;
  background-color: #f7f7f7;
  padding-bottom: 80px;
}

.type-of-repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.type-of-repair li {
  list-style: none;
  padding: 30px 25px;
}

.type-of-repair li a {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #0085db;
}

.type-of-installation__title {
  display: block;
  margin-bottom: 30px;
}

.type-of-installation__img {
  margin-right: 60px;
}

.type-of-installation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.type-of-installation__roof__type {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-of-installation__roof__descr {
  margin-bottom: 20px;
}

.type-of-installation__roof__descr .work-area {
  display: block;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #0d8fe3;
}

.type-of-installation__roof__descr .sub-text {
  display: block;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

.our-work {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.work-block {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.zoom-in {
  top: 45%;
  left: 42%;
  z-index: 10;
  position: absolute;
}

.assurance {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #007ab3;
}

.assurance h2 {
  color: #ffffff;
}

.assurance-block {
  text-align: center;
  margin-bottom: 80px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.assurance-block img {
  margin-bottom: 30px;
}

.payment {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.payment h2 {
  margin-bottom: 80px;
}

.payment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

.payment-block img {
  margin-right: 34px;
}

.stock {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../img/stock/stock-img.png) center;
  background-size: cover;
}

.stock-title {
  display: block;
  font-family: OpenSans;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  color: #008cce;
  margin-bottom: 81px;
}

.about-us {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.about-us__map {
  margin-right: 138px;
}

.about-us__descr {
  text-align: left;
}

.about-us__descr p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 39px;
  color: #000000;
}

.about-us__title {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 600;
  color: #008cce;
  margin-bottom: 18px;
}

.questions {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #00a0eb;
}

.questions p {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 0;
}

.questions a {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */